<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Jumbo Jumbo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

</head>

<header class="header">
    <div class="topnav">
        <div class="banner">
            <a class="link" href="/">
                <img src="http://jumbojumbocafe.com/wp-content/uploads/2018/01/logo300.png" width="200">
            </a>
        </div>
        <div class="topnav-links">
            <a href="food" class="link"> Food Items </a>
            <a href="drinks" class="link"> Signature Drinks </a>
            <a href="drinkform" class="link"> Add a Drink! </a>
            <a href="reviews" class="link"> Reviews </a>
            <a href="about" class="link">About Us</a>
        </div>
    </div>
</header>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <section>{{{body}}}</section>
</body>

</html>