<article id="about">
    <p>This project is a website form of the Jumbo Jumbo restaurant menu</p>
    <p>Jumbo Jumbo is an authentic Taiwanese cuisine cafe with multiple locations</p>
    <p>Curators: Bethany Hsiao and Angela Pan</p>
    <img width="100%" src="https://lh3.googleusercontent.com/G551--w4HisO6U6lc4-xjCJzgfBmucDJyP2fVUgGw3BEuj2LxHM00npq_gMAcXvHBWU7tG5Mhz32RvqmWI0f-1Xi6OFr7MjoB1QT6FToMwJbFUS2OFBgj6MYKEaDO2j2ZkJ77xVdnvUhGhnqEvF2VTN3SaLqx-q9ijRLC5Y8cRE0oHq4gd-pBMYtUXR0ZhWynEWGng_BUZGCGiJ2gAN4wE-pqX7Jt7OqBEHQJSAU0CfRwj--Huy5-YOxITtN1TYCobMf6fw1uri0dkvX_zG2H4J_ncl-gvbL6wtwwq6s2gDmOOqCQHCNICOml2TZRr6aESNhqxWNp9OjA0SQGuN2T82WN7g-PvLp7Pn_ydU_ihluWEz0z8QYnLxZPV3nvJnibY3FuYpbe293bw3aJ3ZgLkH-Qb0WCkiUTYqCfq_2Kl6kMs0321Ftc8CJ3XKf62dLGv4o1OJ5z23W522utv8L8ZJ52lLYyVm5TkolKwff9VRhVU0i3txzoKwfl6IPvcTcvrJYzzhgViECG9fDtZwYxVn7XWTujo0vvESNnhFOTSngvbDZsjrd56zj2XgFXGHykigKHZ7rT9n3wvdWxjJ78o9YHETCcodfWvkjYGUWWyexbwQBcVdMAJOVug9g3gn6BLI2dfH4YoveDADzjtXl8EPCdz7PWUxf=w2368-h1578-no">
</article>